version: '3.8'

services:
  web:
    build: .
    ports:
      - "6005:6000"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - MYSQL_HOST=mysql
      - MYSQL_USER=root
      - DB_PASSWORD_FILE=/run/secrets/mysql_root_password
      - MYSQL_DATABASE=mydb
    secrets:
      - mysql_root_password
    depends_on:
      - redis
      - mysql

  redis:
    image: redis:6.2-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  mysql:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/mysql_root_password
      - MYSQL_DATABASE=mydb
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    secrets:
      - mysql_root_password

volumes:
  redis_data:
  mysql_data:
 
secrets:
  mysql_root_password:
    file: ./mysql_root_password.txt