services:
  nginx:
    image: nginx:latest
    ports:
      - 8080:80
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
    restart: always
    networks:
      - frontend-nginx
  frontend:
    build:
      context: frontend
    volumes:
      - ./frontend:/usr/src/app
    restart: always
    networks:
      - react-express
      - frontend-nginx
    depends_on:
      - backend
    deploy:
      resources:
        limits:
          cpus: "0.50"      # Max 50% of one CPU
          memory: 512m      # Max memory
          pids: 100         # Max number of processes
        reservations:
          cpus: "0.25"
          memory: 256m

  backend:
    restart: always
    build:
      context: backend
    volumes:
      - ./backend:/usr/src/app
    depends_on:
      - mongo
    networks:
      - express-mongo
      - react-express
    expose: 
      - 3000
  mongo:
    restart: always
    image: mongo:4.2.0
    volumes:
      - mongo_data:/data/db
    networks:
      - express-mongo
    expose:
      - 27017
networks:
  react-express:
  express-mongo:
  frontend-nginx:

volumes:
  mongo_data:
